<div class="home__container">
    <app-card gameCover="assets/ac-cover.jpg" gameLabel="DIGITAL" gameType="PS4 | PS5" gamePrice="R$ 129,90"></app-card>
    <app-card gameCover="assets/bt-1.jpg"gameLabel="EXCLUSIVE" gameType="DISC | PS4" gamePrice="R$ 59,99"></app-card>
    <app-card gameCover="assets/bt-5.jpg" gameLabel="DIGITAL" gameType="PS4" gamePrice="R$ 299,99"></app-card>
    <app-card gameCover="assets/bt-bad-company-2.jpg" gameLabel="GREATEST HITS" gameType="PS4 | PS5" gamePrice="R$ 39,90"></app-card>
    <app-card gameCover="assets/bt-hardline.jpg" gameLabel="EXCLUSIVE" gameType="PS4" gamePrice="R$ 69,99"></app-card>
</div>